
.icon-delivery-man {
	background-image: url('png/delivery-man.png');
	background-repeat: no-repeat;
}

.icon-towtruckdriveronline {
	background-image: url('png/towtruckdriveronline.png');
	background-repeat: no-repeat;
}

.icon-car {
	background-image: url('png/car.png');
	background-repeat: no-repeat;
}

.icon-towtruck {
	background-image: url('png/towtruck.png');
	background-repeat: no-repeat;
}

.icon-towtruckdriveroffline {
	background-image: url('png/towtruckdriveroffline.png');
	background-repeat: no-repeat;
}

.icon-towtruckdriveroffline2 {
	background-image: url('png/towtruckdriveroffline2.png');
	background-repeat: no-repeat;
}